@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MICEGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.bg-primary {
  @apply bg-white dark:bg-slate-800;
}

.btn-project {
  @apply inline-flex text-white dark:text-white bg-blue-500 dark:bg-blue-700/70 border-0 py-2 px-6 focus:outline-none hover:bg-blue-400 dark:hover:bg-blue-400 rounded text-lg;
}

.project-card {
  @apply m-3 rounded-xl text-slate-200 w-full
  transition duration-300 transform border border-gray-300 
  hover:scale-105 hover:shadow-lg
  dark:border-gray-200/50
  dark:hover:shadow-gray-400/40
  hover:text-blue-600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

body {
  @apply font-MICEGothic;
}

footer {
  @apply text-gray-600 dark:text-white
    bg-gray-100 dark:bg-slate-600/20;
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50;
}

p {
  @apply text-slate-600 dark:text-slate-400;
}

.headerTag {
  @apply hover:border-b-2 hover:border-slate-900 dark:hover:border-slate-100 dark:hover:transition-transform;
}

.skill-card {
  @apply h-[650px] bg-blue-100 rounded-2xl m-16 p-8 opacity-80;
}
.full-page-controls {
  position: fixed;
  top: 45%;
  left: 5%;
  display: flex;
  flex-direction: column;
}
.full-page-controls button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  margin-right: 10px;
  white-space: pre;
  margin-bottom: 40px;
}
.full-page-controls button:nth-child(1) {
  display: none;
}
.full-page-controls button:nth-child(5) {
  display: none;
}
body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
